* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  transition: all 3s ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: black;
  border: 10px solid black;
}

.square {
  transition: all 1s ease;
  background-color: white;
  color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-icon {
  width: auto;
  margin: 0 auto;
  text-align: justify;
  transition: all 1s ease;
  height: 40px;
}

.select-icon:after {
  content: "";
  display: inline-block;
  width: 100%;
}

i {
}

button {
  border: 5px solid white;
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  transition: all 1s ease;
  outline: none;
  width: 40px;
  height: 40px;
  margin: 0 20px 0 20px;
}

button:hover {
  background-color: white;
  color: black;
}

.fade {
  opacity: 0;
}

.hide {
  display: none;
}

.show-text {
  color: black
}

.breakout {
  position: relative;
}

.breakout a{
  font-size: 25%;
  text-decoration: none;
  color: white;
  padding: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 1s ease;
}

.breakout a:hover{
  background-color: white;
  color: black;
}
