* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 10px solid black;
  color: black;
}

.square {
  border: 10px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 5px solid white;
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  margin: 5px;
  transition: all .5s ease;
  outline: none;
  width: 40px;
  height: 40px;
}

button:hover {
  background-color: white;
  color: black;
}
